@media (max-width: 1280px) {
    .neckbanner-content {
        /* text-align: center; */
        font-size: 30px;
        color: #e6e6e5;
        margin-top: 310px;
        margin-left: 30px;
        letter-spacing: 3px;
        text-transform: uppercase;
        /* font-family: 'Playfair Display', 'Arial', sans-serif !important; */
    }
}

@media (max-width: 1024px) {
    .ptb35 {
        padding: 10px 10px 10px 10px !important;
    }
    .fs10 {
        font-size: 10px;
    }
    .h410 {
        height: 410px;
    }
    .neckbanner-content {
        /* text-align: center; */
        font-size: 30px;
        color: #e6e6e5;
        margin-top: 615px;
        margin-left: -8px;
        letter-spacing: 3px;
        text-transform: uppercase;
        /* font-family: 'Playfair Display', 'Arial', sans-serif !important; */
    }
}


@media (max-width: 1199px) {
    .fs10 {
        font-size: 10px;
    }
    .group-social .top-mini-cart a>span>span:before {
        font-size: 15px;
        font-style: normal;
        font-weight: normal;
    }
    .group-social .top-mini-cart a>span .number-items {
        top: -5px;
        line-height: 100%;
        right: -7px;
        border-radius: 20px;
        background-color: #e6e6e5;
        padding: 2px 5px;
        color: #000;
        font-size: 8px;
    }
    .group-account .top-account.flaticon-social:before {
        font-size: 15px;
        font-weight: bold;
        margin-right: 10px;
        position: relative;
        top: 2px;
    }
    .ptb35 {
        padding: 25px 0px 25px 30px !important;
    }
}

@media (max-width: 768px) {
    .mean-container .mean-nav {
        background: #000000 none repeat scroll 0 0;
        float: left;
        margin-top: 6px;
        position: absolute;
        width: 90%;
        z-index: 9999;
    }

    .group-social .top-mini-cart a>span>span:before {
        font-size: 24px;
        font-style: normal;
        font-weight: normal;
    }
    .group-social .top-mini-cart a>span .number-items {
        top: -11px;
        line-height: 100%;
        right: -7px;
        border-radius: 20px;
        background-color: #e6e6e5;
        padding: 2px 5px;
        color: #000;
        font-size: 12px;
    }
    .company-content {
        font-size: 10px;
        line-height: 22px;
        letter-spacing: 0.4px;
    }
    .gridywrap .gridinfo p.gridexerpt {
        width: 85%;
        font-size: 14px;
        margin: 0 auto;
        line-height: 22px;
        letter-spacing: 0.4px;
        margin-bottom: 25px;
        color: #fff;
        transition-delay: 0.5s;
        /* font-family: 'Playfair Display', 'Arial', sans-serif !important; */
    }
    .bannerhr {
        margin: 5px 0px 5px 255px !important;
        width: 30% !important;
    }
    .watchbanner-content {
        text-align: center;
        font-size: 30px;
        color: #e6e6e5;
        margin-top: 200px;
        letter-spacing: 3px;
        text-transform: uppercase;
    }
    .watchbanner-content1 {
        text-align: center;
        margin-top: 30px;
        font-size: 23px;
        color: #e6e6e5;
        line-height: 30px;
        text-transform: uppercase;
        /* letter-spacing: 0.4px; */
        letter-spacing: 3px;
    }
    .neckbanner-content {
        font-size: 44px;
        color: #e6e6e5;
        margin-top: 55px;
        margin-left: 30px;
        letter-spacing: 3px;
        text-transform: uppercase;
    }
}

@media (max-width: 414px) {
    .company-content {
        font-size: 6px;
        line-height: 8px;
        letter-spacing: 0.4px;
    }
    .watchbanner-content {
        text-align: center;
        font-size: 30px;
        color: #e6e6e5;
        margin-top: 150px;
        letter-spacing: 3px;
        text-transform: uppercase;
    }
    .gridywrap .gridinfo p.gridexerpt {
        width: 90%;
        font-size: 14px;
        margin: 0 auto;
        line-height: 22px;
        letter-spacing: 0.4px;
        margin-bottom: 25px;
        color: #fff;
        transition-delay: 0.5s;
    }
    .neckbanner-content {
        font-size: 32px;
        color: #e6e6e5;
        margin-top: 55px;
        margin-left: 30px;
        letter-spacing: 3px;
        text-transform: uppercase;
    }
    .ringbanner-content {
        font-size: 24px;
        margin-left: 25px;
        color: #e6e6e5;
        letter-spacing: 3px;
        text-transform: uppercase;
    }

    .ringbanner-content1 {
        /* text-align: center; */
        font-size: 18px;
        color: #e6e6e5;
        margin-left: 25px;
        line-height: 30px;
        text-transform: uppercase;
        /* letter-spacing: 0.4px; */
        letter-spacing: 3px;
    }
    .ringbanner-content2 {
        /* text-align: center; */
        font-size: 18px;
        color: #e6e6e5;
        margin-top: 100px;
        margin-left: 25px;
        line-height: 30px;
        text-transform: uppercase;
        /* letter-spacing: 0.4px; */
        letter-spacing: 3px;
    }
}

@media (max-width: 320px) {
    .banner-content {
        text-align: center;
        font-size: 32px;
        color: #e6e6e5;
    }
    .gridywrap .gridinfo p.gridexerpt {
        width: 90%;
        font-size: 12px;
        margin: 0 auto;
        line-height: 22px;
        letter-spacing: 0.4px;
        margin-bottom: 25px;
        color: #fff;
        transition-delay: 0.5s;
    }
    .mt175 {
        margin-top: 60px !important;
    }
}