body::-webkit-scrollbar {
    width: 0.6em;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: #000;
    outline: 1px solid slategrey;
}


.clasforfirstcont {
    background-image: url("../images/back.jpg");
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
}

.clasforfirstconttwo {
    background-image: url("../images/jewellery-slide-1.jpg");
    height: 100vh;
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: 50%;
}


.quote {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: relative;
    font-size: 2em;
    text-align: center;
    height: 85vh;
    color: rgba(255, 255, 255, 0.5);
}

.quotecentr {
    position: absolute;
    float: right;
    width: 100%;
    bottom: 0;
}

.quotetwo {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: relative;
    font-size: 2em;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
}

.clsforh4 {
    position: relative;
    color: #e35c3a;
    font-size: 1.0em
}

.clsforh4:before {
    content: attr(data-text);
    position: absolute;
    overflow: hidden;
    max-width: 100%;
    white-space: nowrap;
    color: #fff;
    animation: loading 4s linear;
}

.clsforh6 {
    position: relative;
    color: #e35c3a;
    font-size: 1.0em
}

.clsforh6:before {
    content: attr(data-text);
    position: absolute;
    overflow: hidden;
    max-width: 100%;
    white-space: nowrap;
    color: #9d9ba5;
    animation: loading 4s linear;
}

.clsforh5 {
    position: relative;
    color: #e35c3a;
    font-size: 0.8em;
}

.clsforh5:before {
    content: attr(data-text);
    position: absolute;
    overflow: hidden;
    max-width: 100%;
    white-space: nowrap;
    color: #fff;
    animation-delay: 10s;
    animation: loading 5.5s linear;
}

@keyframes loading {
    0% {
        max-width: 0;
    }
}





/* Panels. */

.splitview {
    position: relative;
    width: 100%;
    /*min-height: 45vw;*/
    min-height: 20vw;    
    overflow: hidden;
}

.panel {
    position: absolute;
    width: 100vw;
    min-height: 45vw;
    overflow: hidden;
}

.panel .content {
    position: absolute;
    width: 100vw;
    /*min-height: 45vw;*/
    min-height: 20vw;
    color: #FFF;
}

.panel .description {
    width: 25%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

.panel img {
    box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.15);
    width: 35%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.bottom {
    background-color: rgb(44, 44, 44);
    z-index: 1;
}

.bottom .description {
    right: 5%;
    font-size: 1.5em;
}

.top {
    /*background-color: rgb(77, 69, 173);*/
    /*background-color: rgb(66, 48, 73);*/
    background: linear-gradient(to right, rgb(0, 0, 0), rgb(67, 67, 67));
    z-index: 2;
    width: 50vw;
}

.top .description {
    left: 5%;
    font-size: 1.5em;
}





/* Handle. */

.handle {
    height: 100%;
    position: absolute;
    display: block;
    /*background-color: rgb(253, 171, 0);*/
    background-color: #e6e6e5;
    width: 5px;
    top: 0;
    left: 50%;
    z-index: 3;
}





/* Skewed. */

.skewed .handle {
    top: 50%;
    transform: rotate(30deg) translateY(-50%);
    height: 200%;
    -webkit-transform-origin: top;
    -moz-transform-origin: top;
    transform-origin: top;
}

.skewed .top {
    transform: skew(-30deg);
    margin-left: -1000px;
    width: calc(50vw + 1000px);
}

.skewed .top .content {
    transform: skew(30deg);
    margin-left: 1000px;
}





/* Responsive. */


/* @media (max-width: 900px) {
    body {
        font-size: 75%;
    }
} */


/* Panels. */

.splitviewtwo {
    position: relative;
    width: 100%;
    /*min-height: 45vw;*/
    min-height: 20vw;
    overflow: hidden;
}

.panel {
    position: absolute;
    width: 100vw;
    min-height: 45vw;
    overflow: hidden;
}

.panel .contenttwo {
    position: absolute;
    width: 100vw;
    /*min-height: 45vw;*/
    min-height: 20vw;
    color: #FFF;
}

.panel .descriptiontwo {
    width: 25%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

.panel img {
    box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.15);
    width: 35%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.bottomtwo {
    background-color: rgb(44, 44, 44);
    z-index: 1;
}

.bottomtwo .descriptiontwo {
    right: 5%;
    font-size: 1.5em;
}

.toptwo {
    /*background-color: rgb(26, 38, 86);*/
    background: linear-gradient(to right, rgb(0, 0, 0), rgb(67, 67, 67));
    z-index: 2;
    width: 50vw;
}

.toptwo .descriptiontwo {
    left: 5%;
    font-size: 1.5em;
}





/* Handle. */

.handletwo {
    height: 100%;
    position: absolute;
    display: block;
    /*background-color: rgb(253, 171, 0);*/
    background-color: #e6e6e5;
    width: 5px;
    top: 0;
    left: 50%;
    z-index: 3;
}





/* Skewed. */

.skewedtwo .handletwo {
    top: 50%;
    transform: rotate(30deg) translateY(-50%);
    height: 200%;
    -webkit-transform-origin: top;
    -moz-transform-origin: top;
    transform-origin: top;
}

.skewedtwo .toptwo {
    transform: skew(-30deg);
    margin-left: -1000px;
    width: calc(50vw + 1000px);
}

.skewedtwo .toptwo .contenttwo {
    transform: skew(30deg);
    margin-left: 1000px;
}


.splitviewthree {
    position: relative;
    width: 100%;
    /*min-height: 45vw;*/
    min-height: 20vw;
    overflow: hidden;
}

.panel {
    position: absolute;
    width: 100vw;
    /*min-height: 45vw;*/
    min-height: 20vw;
    overflow: hidden;
}

.panel .contentthree {
    position: absolute;
    width: 100vw;
    /*min-height: 45vw;*/
    min-height: 20vw;
    color: #FFF;
}

.panel .descriptionthree {
    width: 25%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

.panel img {
    box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.15);
    width: 35%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.bottomthree {
    background-color: rgb(44, 44, 44);
    z-index: 1;
}

.bottomthree .descriptionthree {
    right: 5%;
    font-size: 1.5em;
}

.topthree {
    background-color: rgb(136, 136, 136);
    background: linear-gradient(to right, rgb(0, 0, 0), rgb(67, 67, 67));
    z-index: 2;
    width: 50vw;
}

.topthree .descriptionthree {
    left: 5%;
    font-size: 1.5em;
}





/* Handle. */

.handlethree {
    height: 100%;
    position: absolute;
    display: block;
    /*background-color: rgb(253, 171, 0);*/
    background-color: #e6e6e5;
    width: 5px;
    top: 0;
    left: 50%;
    z-index: 3;
}





/* Skewed. */

.skewedthree .handlethree {
    top: 50%;
    transform: rotate(30deg) translateY(-50%);
    height: 200%;
    -webkit-transform-origin: top;
    -moz-transform-origin: top;
    transform-origin: top;
}

.skewedthree .topthree {
    transform: skew(-30deg);
    margin-left: -1000px;
    width: calc(50vw + 1000px);
}

.skewedthree .topthree .contentthree {
    transform: skew(30deg);
    margin-left: 1000px;
}


.main-split {
    display: -webkit-flex;
    display: flex;
}

.main-split section {
    -webkit-flex: 1;
    flex: 1;
}

.main-split .col-2 {
    -webkit-flex: 2;
    flex: 2;
}



.cta-row-one {
    height: 50vh;
    display: -webkit-flex;
    display: flex;

    width: 100%;
}

h4.clsforcert {
    width: 50%;
}

.contact-one {
    width: 50%;
    color: #262626;
    position: absolute;
    left: 0;
}

.contact-text span {
    font-size: 2em;
}

.contact-two {
    width: 50%;
    color: #262626;
    position: absolute;
    right: 0;
}

.overlay1 {
    background: #262626;
    -webkit-transition: opacity .4s ease;
    transition: opacity .4s ease;
    opacity: 1;
}

.overlay1:hover {
    content: "";
    background-blend-mode: multiply;
    background: url(https://images8.alphacoders.com/360/360456.jpg) center center no-repeat;
    background-size: cover !important;
    background-color: #262626;
    opacity: 0.7;
}

.overlay2:hover {
    content: "";
    background-blend-mode: multiply;
    background: url(https://s-media-cache-ak0.pinimg.com/originals/0d/ec/11/0dec1187e58066c47aea2ddb31b98904.jpg) center center no-repeat;
    background-size: cover !important;
    background-color: #262626;
    opacity: 0.7;
}

.overlay3:hover {
    content: "";
    background-blend-mode: multiply;
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRcNRohFgQPStGXtyCpd3zpLLMJJmNl-lBC49-IdV9Q4BmisvAB) center center no-repeat;
    background-size: cover !important;
    background-color: #262626;
    opacity: 0.7;
}

.overlay4:hover {
    content: "";
    background-blend-mode: multiply;
    background: url(https://www.mexatk.com/wp-content/uploads/2015/09/%D8%B5%D9%88%D8%B1-%D9%85%D8%AC%D9%88%D9%87%D8%B1%D8%A7%D8%AA-%D8%AB%D9%85%D9%8A%D9%86%D8%A9-%D9%88%D9%82%D9%8A%D9%85%D8%A9-%D8%AC%D8%AF%D8%A7-%D9%88%D9%81%D8%AE%D9%85%D8%A9-%D8%AC%D8%AF%D9%8A%D8%AF%D8%A9-4.jpg) center center no-repeat;
    background-size: cover !important;
    background-color: #262626;
    opacity: 0.7;
}

.overlay5:hover {
    content: "";
    background-blend-mode: multiply;
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRNMO0CNw7ixNeu2UKfqN8ZcmAU61copwbqZje8y_Qj8OSQdE5M) center center no-repeat;
    background-size: cover !important;
    background-color: #262626;
    opacity: 0.7;
}

.overlay6:hover {
    content: "";
    background-blend-mode: multiply;
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRNMO0CNw7ixNeu2UKfqN8ZcmAU61copwbqZje8y_Qj8OSQdE5M) center center no-repeat;
    background-size: cover !important;
    background-color: #262626;
    opacity: 0.7;
}

.org {
    background-color: mediumvioletred;
}

.orgtwo {
    background-color: #1abc9c;
}

.orgthree {
    background-color: #262626 !important;
}

.orgfive {
    background-color: #8e44ad;
}

.contact-text {
    color: #fff;
    font-size: 1.647rem;
    line-height: 2.153rem;
    letter-spacing: 1.5px;
    height: 350px;
    text-align: center;
    padding: 50px 50px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}

.buttonclass:hover {
    background: #2c3e50;
}

.contact-one .contact-text h4 {
    margin: 0 0 20px 0;
}

.contact-two .contact-text h4 {
    margin: 0 0 20px 0;
}




/* Mobile */

@media screen and (max-width: 767px) {
    .main {
        -webkit-flex-direction: column;
        flex-direction: column;
        height: 400px;
        margin: 0;
    }
}

@media (max-width: 767px) .cta-row-one {
    -webkit-flex-direction: column;
    flex-direction: column;
}




}
@media (max-width: 767px) {
    .contact-one {
        width: 100%;
        height: 200px;
        -webkit-flex: 1;
        flex: 1;
    }
}
@media (max-width: 767px) {
    .contact-two {
        width: 100%;
        height: 200px !important;
        -webkit-flex: 2;
        flex: 2;
        margin-top: 200px;
    }
}

@media (max-width: 767px) {
    .contact-text {
        padding: 60px;
        font-size: 20px;
    }
}

@media (max-width: 767px) {
    .overlay1 {
        width: 100%;
        height: 200px !important;
    }
}
@media (max-width: 767px) {
    .overlay2 {
        width: 100%;
        height: 200px !important;
    }
}
.buttonclass {
    background: #333;
    color: #ccc;
    width: 125px;
    height: 40px;
    border: 0;
    font-size: 18px;
    border-radius: 4px;
    font-family: 'Raleway', sans-serif;
    transition: .6s;
    overflow: hidden;
    &:focus {
        outline: 0;
    }

    &:before {
        content: '';
        display: block;
        position: absolute;
        background: rgba(255, 255, 255, 0.5);
        width: 60px;
        height: 100%;
        left: 0;
        top: 0;
        opacity: .5;
        filter: blur(30px);
        transform: translateX(-100px) skewX(-15deg);
    }

    &:after {
        content: '';
        display: block;
        position: absolute;
        background: rgba(255, 255, 255, 0.2);
        width: 30px;
        height: 100%;
        left: 30px;
        top: 0;
        opacity: 0;
        filter: blur(5px);
        transform: translateX(-100px) skewX(-15deg);
    }

    &:hover {
        background: #338033;
        cursor: pointer;
        &:before {
            transform: translateX(300px) skewX(-15deg);
            opacity: 0.6;
            transition: .7s;
        }
        &:after {
            transform: translateX(300px) skewX(-15deg);
            opacity: 1;
            transition: .7s;
        }
    }
}


/* Layout */
.grid {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.grid .column {
    position: relative;
    overflow: hidden;
    width: 50%;
    text-align: center;
    cursor: pointer;
}
.grid .column img {
    position: relative;
    display: block;
    height: 100%;
    object-fit: cover;
    width: 100%;
    opacity: 0.8;
}
.grid .column .content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 2em;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.3rem;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.grid .column .content::before,
.grid .column .content::after {
    pointer-events: none;
}

.grid .column h2 {
    word-spacing: -0.15rem;
    font-weight: 300;
}

.grid .column h2 span {
    display: block;
    font-weight: 800;
    font-size: 2.8rem;
}

.grid .column h2,
.grid .column p {
    margin: 0;
}

.grid .column p {
    letter-spacing: 1px;
    font-size: 1.3em;
    text-transform: capitalize;
    width: 80%;
}

#logo {
    text-align: center;
    width: 100%;
    position: absolute;
    top: 10%;
    -webkit-transform: translateY(-10%);
    -ms-transform: translateY(-10%);
    transform: translateY(-10%);
}
#logo img {
    max-width: 100px;
    height: auto;
    padding-left: 10px;
}
#west {
    background: url(https://images.pexels.com/photos/212069/pexels-photo-212069.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb) no-repeat top center;
    background-size: cover;
}
#east {
    background: url(https://images.pexels.com/photos/198747/pexels-photo-198747.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb) no-repeat top right;
    background-size: cover;
}
#west .content {
    background: rgba(25, 235, 248, .5);
}
#east .content {
    background: rgba(234, 210, 24, .5);
}

/*-----------------*/

/***** Hover *****/

/*-----------------*/
.effect-hover h2,
.effect-hover h3,
.effect-hover p,
.effect-hover i {
    -webkit-transition: opacity 0.35s,
    -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
}

.effect-hover .content::before {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 450px;
    height: 450px;
    border: 3px solid #fff;
    content: '';
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -45deg) scale3d(0, 0, 1);
    transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -45deg) scale3d(0, 0, 1);
}

.effect-hover p:hover,
.effect-hover p:focus {
    opacity: 0.6;
}
/* Keeps things consistent */
.effect-hover p,
.effect-hover h3 {
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
}

.effect-hover:hover .content::before {
    opacity: 1;
    -webkit-transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -45deg) scale3d(1, 1, 1);
    transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -45deg) scale3d(1, 1, 1);
}

.effect-hover:hover h2 {
    opacity: 0;
    -webkit-transform: scale3d(0.8, 0.8, 1);
    transform: scale3d(0.8, 0.8, 1);
}
.effect-hover:hover h3,
.effect-hover:hover p {
    opacity: 1;
}
.effect-hover:hover i {
    -webkit-transform: scale3d(2.5, 2.5, 2);
    transform: scale3d(2.5, 2.5, 2);
}


/* Overlays */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    display: none;
    z-index: 99;
    overflow-x: hidden;
    background: #eee;
}

/* Block works too, but flex is more...flexible */
.overlay.open {
    display: flex;
}
.overlay .column {
    display: table;
    height: 100%;
}
.product-content {
    font-size: 1.4rem;
    padding: 10%;
    display: table-cell;
    vertical-align: middle;
}
.price {
    color: #34d5cf;
    margin: 1vw 0;
}
.currency {
    font-weight: 700;
    font-size: 1rem;
}
.amount {
    font-size: 1.6rem;
    vertical-align: top;
    font-family: sans-serif;
}

/* button */
.buy-button {
    height: 50px;
    width: 100%;
    margin: 2rem 0;
    position: relative;
    background: #eee;
    border: 3px solid #f9efb2;
}
.buy-button>span {
    display: block;
    position: relative;
    font-weight: 700;
    font-size: 1rem;
    text-transform: uppercase;
    color: #1f1f22;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    z-index: 10;
    line-height: 60px;
}

.buy-button::after,
.buy-button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border: 3px solid #f9efb2;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s, ease-in-out .3s;
}
.buy-button::before {
    background: #FFF;
    margin: 0px 0 0 0px;
    top: 5px;
    left: 5px;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    z-index: 1;
}

.buy-button:hover span,
.buy-button:hover::before {
    transform: translate3d(-4px, -4px, 0px);
}
.buy-button:hover::before {
    background: #f9efb2;
}
.size-guide-link {
    display: inline-block;
    font-weight: 500;
    cursor: pointer;
    font-size: .8rem;
}
.underline-link {
    overflow: hidden;
    padding-bottom: .5vh;
    position: relative;
}
.underline-link::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: #202023;
    -webkit-transform-origin: left;
    transform-origin: left;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: -webkit-transform .2s ease-in-out;
    transition: transform .2s ease-in-out;
}
.underline-link.active::before,
.underline-link.hovered::before,
.underline-link:hover::before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

/* Close Icon animated */

/* Thanks to @arthurhamon */
.close-icon {
    width: 36px;
    height: 36px;
    cursor: pointer;
    position: absolute;
    top: 4%;
    right: 2%;
}

/* Test your cubic beziers here http://cubic-bezier.com/ */
.close-icon div {
    display: block;
    height: 3px;
    position: relative;
    transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1) 0s, opacity 0.4s cubic-bezier(0.19, 1, 0.22, 1) 0s;
    width: 36px;
}
.close-icon div:first-child {
    transform: translate3d(0px, 10px, 0px) rotate3d(0, 0, 1, -45deg);
}
.close-icon div:first-child::after,
.close-icon div:first-child::before {
    transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1) 0s, opacity 0.2s cubic-bezier(0.19, 1, 0.22, 1) 0s;
}
.close-icon div:last-child {
    transform: translate3d(0px, 8px, 0px) rotate3d(0, 0, 1, 45deg);
}
.close-icon div:last-child::after,
.close-icon div:last-child::before {
    transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1) 0.2s, opacity 0.2s cubic-bezier(0.19, 1, 0.22, 1) 0.18s;
}
.close-icon div::after,
.close-icon div::before {
    content: "";
    display: block;
    height: 100%;
    pointer-events: none;
    position: absolute;
    width: 100%;
}

/* Now you see it */
.close-icon div::before {
    background: none repeat scroll 0 0 #34d5cf;
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
}

/* Now you don't */
.close-icon div::after {
    background: none repeat scroll 0 0 #ead918;
    opacity: 0;
    transform: translate3d(100%, 0px, 0px);
}
.close-icon:hover div::before {
    opacity: 0;
    transform: translate3d(-100%, 0px, 0px);
}
.close-icon:hover div::after {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
}

.hidden {
  opacity:0;
}
.console-container {
    font-size: 1.5em;
    text-align: center;
    height: 100px;
    width: 100%;
    padding-top: 30px;
    display: block;
    color: white;
    background: transparent;
    margin: auto;
}
.console-underscore {
   display:inline-block;
  position:relative;
  top:-0.00em;
  left:10px;
  color: #262140;
  background: #262140;
}
.fs20{
    font-size: 20px;
}
