.width15 {
    width: 15% !important;
}

.prismarclogo {
    /*width: 190px !important;*/
    width: 125px !important;
    max-width: none !important;
}

.logo {
    padding: 5px 0 !important;
}

.header-container.type2 .logo {
    padding: 10px 0 !important;
}

.header-container.type2 .main-menu .nav .menu-item a {
    padding: 30px 15px 29px 15px !important;
}

.header-container.type2 .main-menu .nav {
    margin-left: 30px !important;
}

.header-container.type2 .main-menu .nav .menu-item:last-child>a {
    color: #fff;
}

.top-mini-cart .cart-dd .cart-content h5 {
    margin-bottom: 10px !important;
}

.cartprodtitle {
    margin-top: 0px !important;
    margin-bottom: 5px !important;
}

.mb3 {
    margin-bottom: 3px !important;
}

img.cartprodimages {
    height: 55px !important;
    width: 100%;
}

.top-mini-cart .mark-border:before {
    content: '';
    width: 100% !important;
    border-bottom: 1px #fff solid;
    position: absolute;
    bottom: -18px !important;
}

.top-mini-cart .items {
    margin-bottom: 15px !important;
}

.mb12 {
    margin-bottom: 12px !important;
}

/*.primarycolor {
    color: #1b1b1b;
}*/
.primarycolor {
    color: #fff;
}

.top-mini-cart .mini-cart-action {
    margin-bottom: 0px !important;
}

.bannerimg {
    max-width: none !important;
    width: 100% !important;
    height: 700px !important;
}





/*MAIN CONTENT CSS STARTS HERE*/


/*.isotope_container {
    -webkit-transition: height 0.2s ease-in-out 0s;
    -moz-transition: height 0.2s ease-in-out 0s;
    -o-transition: height 0.2s ease-in-out 0s;
    -ms-transition: height 0.2s ease-in-out 0s;
    transition: height 0.2s ease-in-out 0s;
}

.gallery-products__offset {
    margin-bottom: 20px;
    padding: 0 10px;
}

.gallery-products__item {
    position: relative;
    overflow: hidden;
}

.gallery-products__img img {
    width: 100%;
}

.gallery-products__content-05 {
    border: 4px solid #303233;
    position: absolute;
    top: 57px;
    left: 40px;
    bottom: 40px;
    right: 40px;
    z-index: 1;
}

@media screen and (max-width: 1919px) {
    .gallery-products__content-05 .gallery-products__table {
        width: 100%;
    }
}

.gallery-products__content-05 .gallery-products__table {
    width: 450px;
    text-align: center;
    float: right;
    padding: 0 20px;
}

.gallery-products__table {
    display: table;
    width: 100%;
    height: 100%;
}

.gallery-products__content-05 .gallery-products__table {
    width: 450px;
    text-align: center;
    float: right;
    padding: 0 20px;
}

.gallery-products__table-cell {
    display: table-cell;
    vertical-align: middle;
}

.gallery-products__content-wrapp {
    display: inline-block;
    float: none;
}

@media screen and (max-width: 1919px) {
    .gallery-products__content-05 .gallery-products__title {
        font-size: 50px;
        line-height: 42px;
    }
}

.gallery-products__content-05 .gallery-products__title {
    font-size: 70px;
    line-height: 52px;
    font-weight: bold;
    letter-spacing: 0;
}

.gallery-products__content-05 .gallery-products__sub-title {
    font-family: 'Playfair Display', 'Arial', sans-serif;
    font-size: 40px;
    line-height: 42px;
    font-style: italic;
    letter-spacing: -2px;
}

.gallery-products__sub-title {
    margin: 0 0 30px;
    font-size: 26px;
    line-height: 30px;
    font-family: 'Playfair Display', 'Arial', sans-serif;
    font-style: italic;
    color: #303233;
    padding-left: 10px;
}

.gallery-products__content-text {
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    color: #808080;
    padding-left: 10px;
    margin-bottom: 40px;
}

.gallery-products__content-05 .gallery-products__button {
    position: absolute;
    right: 160px;
    bottom: -27px;
    margin: 0;
}

a.gallery-products__button {
    font-family: 'Playfair Display', 'Arial', sans-serif;
    font-size: 13px;
    line-height: 15px;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    text-transform: uppercase;
    background: #303233;
    padding: 16px 38px;
    margin: 0 10px;
    box-sizing: border-box;
    border: 2px solid #303233;
}

.gallery-products__content-img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

@media screen and (max-width: 1919px) {
    .gallery-products__content-img {
        display: none;
    }
}

@media screen and (max-width: 1919px) {
    .gallery-products__content .gallery-products__content-wrapp {
        background: rgba(255, 255, 255, 0.8);
        padding: 20px;
    }
}*/


/*// Gallery products //*/

.gallery-products__item {
    position: relative;
    overflow: hidden;
    box-shadow: 1px 4px 18px 2px rgba(66, 66, 66, 0.39);
}

.gallery-products__content {
    position: absolute;
    top: 0;
    right: 50px;
    bottom: 0;
    width: 400px;
}

@media screen and (max-width: 1919px) {
    .gallery-products__content {
        width: auto;
        left: 50px;
    }
    .gallery-products__content .gallery-products__content-wrapp {
        background: rgba(255, 255, 255, 0.8);
        padding: 20px;
    }
}

@media screen and (max-width: 1919px) and (max-width: 640px) {
    .gallery-products__content .gallery-products__content-wrapp {
        padding: 10px;
    }
}

@media screen and (max-width: 1199px) {
    .gallery-products__content {
        left: 25px;
        right: 25px;
    }
}

@media screen and (max-width: 640px) {
    .gallery-products__content {
        left: 15px;
        right: 15px;
        padding: 0;
    }
}

@media screen and (max-width: 480px) {
    .gallery-products__content {
        left: 10px;
        right: 10px;
    }
}

.gallery-products__content-02 {
    position: absolute;
    left: 55px;
    bottom: 163px;
    text-align: center;
}

@media screen and (max-width: 1919px) {
    .gallery-products__content-02 {
        left: 25px;
    }
}

@media screen and (max-width: 1199px) {
    .gallery-products__content-02 {
        left: 25px;
        bottom: 100px;
    }
}

.gallery-products__content-03 {
    position: absolute;
    left: 75px;
    top: 71px;
    text-align: center;
}

@media screen and (max-width: 1919px) {
    .gallery-products__content-03 {
        top: 51px;
        left: 45px;
    }
}

@media screen and (max-width: 1199px) {
    .gallery-products__content-03 {
        top: 30px;
        left: 30px;
    }
}

@media screen and (max-width: 640px) {
    .gallery-products__content-03 {
        top: 20px;
        left: 10px;
    }
}

.gallery-products__content-04 {
    position: absolute;
    top: 0;
    left: 50px;
    bottom: 0;
    width: 400px;
}

@media screen and (max-width: 1919px) {
    .gallery-products__content-04 {
        left: 30px;
    }
}

@media screen and (max-width: 1199px) {
    .gallery-products__content-04 {
        left: 25px;
        right: 25px;
        width: auto;
    }
}

@media screen and (max-width: 1199px) and (max-width: 1199px) {
    .gallery-products__content-04 .gallery-products__content-wrapp {
        padding: 20px;
        background: rgba(255, 255, 255, 0.8);
    }
}

@media screen and (max-width: 640px) {
    .gallery-products__content-04 {
        left: 15px;
        right: 15px;
    }
}

@media screen and (max-width: 480px) {
    .gallery-products__content-04 {
        left: 10px;
        right: 10px;
    }
}

.gallery-products__content-04 .gallery-products__sub-title {
    margin-bottom: 0;
}

.gallery-products__content-04 .gallery-products__title {
    margin-bottom: 40px;
    line-height: 85px;
}

@media screen and (max-width: 1919px) {
    .gallery-products__content-04 .gallery-products__title {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 1199px) {
    .gallery-products__content-04 .gallery-products__title {
        font-size: 50px;
        line-height: 52px;
        margin-bottom: 15px;
    }
}

.gallery-products__content-04 .gallery-products__content-text {
    padding-left: 0;
}

@media screen and (max-width: 1199px) {
    .gallery-products__content-04 .gallery-products__content-text {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 480px) {
    .gallery-products__content-04 .gallery-products__content-text {
        margin-bottom: 10px;
    }
}

.gallery-products__content-04 .gallery-products__button {
    margin-left: 0;
}

@media screen and (max-width: 480px) {
    .gallery-products__content-04 .gallery-products__content-wrapp {
        padding: 10px;
    }
}

@media screen and (max-width: 480px) {
    .gallery-products__content-04 .gallery-products__title {
        font-size: 40px;
        line-height: 42px;
        margin-bottom: 10px;
    }
}

.gallery-products__content-05 {
    border: 4px solid #303233;
    position: absolute;
    top: 57px;
    left: 40px;
    bottom: 40px;
    right: 40px;
    z-index: 1;
}

@media screen and (max-width: 1199px) {
    .gallery-products__content-05 {
        top: 40px;
        left: 25px;
        right: 25px;
    }
}

@media screen and (max-width: 640px) {
    .gallery-products__content-05 {
        top: 25px;
        left: 15px;
        right: 15px;
    }
}

@media screen and (max-width: 480px) {
    .gallery-products__content-05 {
        top: 10px;
        left: 10px;
        right: 10px;
        bottom: 25px;
    }
}

@media screen and (max-width: 480px) {
    .gallery-products__content-05 .gallery-products__content-text {
        margin-bottom: 10px;
        font-size: 16px;
        line-height: 18px;
    }
}

@media screen and (max-width: 400px) {
    .gallery-products__content-05 .gallery-products__content-text {
        display: none;
    }
}

.gallery-products__content-05 .gallery-products__table {
    width: 450px;
    text-align: center;
    float: right;
    padding: 0 20px;
}

@media screen and (max-width: 1919px) {
    .gallery-products__content-05 .gallery-products__table {
        width: 100%;
    }
}

@media screen and (max-width: 640px) {
    .gallery-products__content-05 .gallery-products__table {
        padding: 20px;
    }
}

@media screen and (max-width: 480px) {
    .gallery-products__content-05 .gallery-products__table {
        padding: 10px;
    }
}

.gallery-products__content-05 .gallery-products__button {
    position: absolute;
    right: 160px;
    bottom: -27px;
    margin: 0;
}

@media screen and (max-width: 480px) {
    .gallery-products__content-05 .gallery-products__button {
        bottom: -20px;
        right: 50%;
    }
}

.gallery-products__content-05 .gallery-products__button:hover {
    background: #e4e4e0;
}

.gallery-products__content-05 .gallery-products__title {
    font-size: 70px;
    line-height: 52px;
    font-weight: bold;
    letter-spacing: 0;
}

@media screen and (max-width: 1919px) {
    .gallery-products__content-05 .gallery-products__title {
        font-size: 50px;
        line-height: 42px;
    }
}

@media screen and (max-width: 1199px) {
    .gallery-products__content-05 .gallery-products__title {
        font-size: 35px;
        line-height: 37px;
    }
}

@media screen and (max-width: 991px) {
    .gallery-products__content-05 .gallery-products__title {
        font-size: 70px;
        line-height: 52px;
    }
}

@media screen and (max-width: 640px) {
    .gallery-products__content-05 .gallery-products__title {
        font-size: 35px;
        line-height: 37px;
    }
}

.gallery-products__content-05 .gallery-products__sub-title {
    font-family: 'Playfair Display', 'Arial', sans-serif;
    font-size: 40px;
    line-height: 42px;
    font-style: italic;
    letter-spacing: -2px;
}

@media screen and (max-width: 1199px) {
    .gallery-products__content-05 .gallery-products__sub-title {
        font-size: 35px;
        line-height: 37px;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 991px) {
    .gallery-products__content-05 .gallery-products__sub-title {
        font-size: 40px;
        line-height: 42px;
    }
}

@media screen and (max-width: 640px) {
    .gallery-products__content-05 .gallery-products__sub-title {
        font-size: 35px;
        line-height: 37px;
        margin-bottom: 10px;
    }
}

.gallery-products__content-05 .gallery-products__sub-title span {
    font-size: 70px;
    font-weight: bold;
}

@media screen and (max-width: 1199px) {
    .gallery-products__content-05 .gallery-products__sub-title span {
        font-size: 45px;
        line-height: 43px;
    }
}

@media screen and (max-width: 991px) {
    .gallery-products__content-05 .gallery-products__sub-title span {
        font-size: 70px;
    }
}

@media screen and (max-width: 640px) {
    .gallery-products__content-05 .gallery-products__sub-title span {
        font-size: 35px;
        line-height: 37px;
    }
}

.gallery-products__content-06 {
    border: 4px solid #fff;
    position: absolute;
    top: 116px;
    left: 43px;
    bottom: 43px;
    right: 43px;
    text-align: center;
    z-index: 1;
}

@media screen and (max-width: 1919px) {
    .gallery-products__content-06 {
        top: 43px;
    }
}

@media screen and (max-width: 1199px) {
    .gallery-products__content-06 {
        left: 25px;
        right: 25px;
    }
}

@media screen and (max-width: 640px) {
    .gallery-products__content-06 {
        left: 15px;
        right: 15px;
        top: 15px;
        bottom: 25px;
    }
}

.gallery-products__content-06 .gallery-products__table {
    width: 420px;
    text-align: center;
    float: right;
    padding: 0 20px;
}

@media screen and (max-width: 1919px) {
    .gallery-products__content-06 .gallery-products__table {
        width: 100%;
    }
}

@media screen and (max-width: 640px) {
    .gallery-products__content-06 .gallery-products__table {
        padding: 10px;
    }
}

.gallery-products__content-06 .gallery-products__button {
    position: absolute;
    right: 160px;
    bottom: -27px;
    margin: 0;
    color: #020001;
    background-color: #fff;
    border: 2px solid #fff;
}

@media screen and (max-width: 640px) {
    .gallery-products__content-06 .gallery-products__button {
        bottom: -20px;
    }
}

@media screen and (max-width: 400px) {
    .gallery-products__content-06 .gallery-products__button {
        right: 50%;
    }
}

.gallery-products__content-06 .gallery-products__button:hover {
    background: #020001;
    color: #fff;
}

.gallery-products__content-06 .gallery-products__title {
    font-size: 56px;
    line-height: 52px;
    font-weight: bold;
    letter-spacing: 0;
    color: #fff;
}

@media screen and (max-width: 640px) {
    .gallery-products__content-06 .gallery-products__title {
        font-size: 35px;
        line-height: 37px;
    }
}

.gallery-products__content-06 .gallery-products__sub-title {
    font-family: 'Playfair Display', 'Arial', sans-serif;
    font-size: 40px;
    line-height: 35px;
    font-style: italic;
    letter-spacing: -2px;
    color: #fff;
    margin-bottom: 48px;
}

@media screen and (max-width: 640px) {
    .gallery-products__content-06 .gallery-products__sub-title {
        font-size: 30px;
        line-height: 32px;
        margin-bottom: 10px;
    }
}

.gallery-products__content-06 .gallery-products__sub-title span {
    font-size: 60px;
    font-weight: bold;
}

@media screen and (max-width: 640px) {
    .gallery-products__content-06 .gallery-products__sub-title span {
        font-size: 40px;
        line-height: 42px;
    }
}

.gallery-products__content-06 .gallery-products__content-text {
    max-width: 350px;
    display: inline-block;
    float: none;
    padding: 0;
}

@media screen and (max-width: 400px) {
    .gallery-products__content-06 .gallery-products__content-text {
        display: none;
    }
}

.gallery-products__content-img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

@media screen and (max-width: 1919px) {
    .gallery-products__content-img {
        display: none;
    }
}

.gallery-products__content-img-02 {
    position: absolute;
    top: 30px;
    left: 0;
    z-index: 2;
}

@media screen and (max-width: 1919px) {
    .gallery-products__content-img-02 {
        display: none;
    }
}

.gallery-products__padding {
    padding: 0 10px;
}

.gallery-products__img img {
    width: 100%;
}

.gallery-products__offset {
    margin-bottom: 20px;
    padding: 0 10px;
}

.gallery-products__table {
    display: table;
    width: 100%;
    height: 100%;
}

.gallery-products__table-row {
    display: table-row;
}

.gallery-products__table-cell {
    display: table-cell;
    vertical-align: middle;
}

.gallery-products__content-wrapp {
    display: inline-block;
    float: none;
}

.gallery-products__title {
    font-family: 'Playfair Display', 'Arial', sans-serif;
    font-size: 116px;
    line-height: 95px;
    font-weight: bold;
    font-style: normal;
    margin: 0 0 5px 0;
    letter-spacing: -5px;
}

@media screen and (max-width: 1700px) {
    .gallery-products__title {
        font-size: 66px;
        line-height: 55px;
    }
}

@media screen and (max-width: 640px) {
    .gallery-products__title {
        font-size: 30px;
        line-height: 30px;
        letter-spacing: inherit;
    }
}

.gallery-products__sub-title {
    margin: 0 0 10px;
    font-size: 26px;
    line-height: 30px;
    font-family: 'Playfair Display', 'Arial', sans-serif;
    font-style: italic;
    color: #303233;
    padding-left: 10px;
}

@media screen and (max-width: 640px) {
    .gallery-products__sub-title {
        padding: 0;
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 10px;
    }
}

.gallery-products__content-text {
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    color: #808080;
    padding-left: 10px;
    margin-bottom: 15px;
}

@media screen and (max-width: 640px) {
    .gallery-products__content-text {
        margin-bottom: 20px;
        padding: 0;
    }
}

@media screen and (max-width: 400px) {
    .gallery-products__content-text {
        font-size: 12px;
        line-height: 16px;
        margin-bottom: 10px;
    }
}

a.gallery-products__button {
    font-family: 'Playfair Display', 'Arial', sans-serif;
    font-size: 13px;
    line-height: 15px;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    text-transform: uppercase;
    background: #303233;
    padding: 16px 38px;
    margin: 0 10px;
    box-sizing: border-box;
    border: 2px solid #303233;
}

@media screen and (max-width: 640px) {
    a.gallery-products__button {
        font-size: 12px;
        padding: 10px 20px;
        margin-left: 0;
    }
}

a.gallery-products__button:hover {
    color: #303233;
    background: transparent;
}

.gallery-products__content-02-sub-title {
    font-family: 'Playfair Display', 'Arial';
    font-size: 38px;
    line-height: 40px;
    font-style: normal;
    font-weight: normal;
    color: #303233;
    margin: 0;
}

@media screen and (max-width: 1199px) {
    .gallery-products__content-02-sub-title {
        font-size: 32px;
        line-height: 35px;
    }
}

@media screen and (max-width: 640px) {
    .gallery-products__content-02-sub-title {
        font-size: 22px;
        line-height: 25px;
    }
}

.gallery-products__content-02-title {
    font-family: 'Playfair Display', 'Arial' sans-serif;
    font-size: 70px;
    line-height: 64px;
    font-weight: bold;
    color: #303233;
    text-transform: uppercase;
    margin: 0;
}

@media screen and (max-width: 1919px) {
    .gallery-products__content-02-title {
        font-size: 55px;
        line-height: 60px;
    }
}

@media screen and (max-width: 1199px) {
    .gallery-products__content-02-title {
        font-size: 40px;
        line-height: 45px;
    }
}

@media screen and (max-width: 640px) {
    .gallery-products__content-02-title {
        font-size: 30px;
        line-height: 35px;
    }
}

.gallery-products__content-03-title {
    /*font-family: 'Playfair Display', 'Arial', sans-serif;*/
    /*font-size: 70px;*/
    line-height: 60px;
    font-weight: bold;
    margin: 0 0 5px;
    color: #303233;
    font-style: normal;
    text-transform: uppercase;
    font-size: 36px !important;
    letter-spacing: 3px;
}

@media screen and (max-width: 1919px) {
    .gallery-products__content-03-title {
        font-size: 60px;
        line-height: 50px;
    }
}

@media screen and (max-width: 1199px) {
    .gallery-products__content-03-title {
        font-size: 40px;
        line-height: 45px;
    }
}

@media screen and (max-width: 640px) {
    .gallery-products__content-03-title {
        font-size: 30px;
        line-height: 35px;
    }
}

.gallery-products__content-03-title span {
    font-size: 140px;
}

@media screen and (max-width: 1919px) {
    .gallery-products__content-03-title span {
        font-size: 70px;
    }
}

@media screen and (max-width: 640px) {
    .gallery-products__content-03-title span {
        font-size: 40px;
        line-height: 45px;
    }
}

.gallery-products__content-03-sub-title {
    /*font-family: 'Playfair Display', 'Arial', sans-serif;*/
    font-size: 30px;
    line-height: 30px;
    /*font-style: italic;*/
    font-weight: normal;
    color: #303233;
    /*letter-spacing: -1.6px;*/
    letter-spacing: 0.4px;
}

@media screen and (max-width: 1919px) {
    .gallery-products__content-03-sub-title {
        padding-left: 5px;
        font-size: 25px;
        line-height: 27px;
    }
}

.gallery-products__pagination {
    text-align: center;
}

.gallery-products__pagination .pagination {
    display: inline-block;
    float: none;
    margin-top: 37px;
}



.isotope-item .star-rating {
    margin-top: 8px;
}

.isotope-item .post__title a {
    font-size: 24px;
    line-height: 30px;
}

.isotope-item .price {
    float: right;
}

.isotope-item .shop-item__button {
    font-size: 13px;
    line-height: 15px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 28px;
}

figure.gallery-products__img {
    margin: 0px !important;
}

#footer {
    background: #000 !important;
}

/*.primarycolorbtn {
    background: #1b1b1b !important;
}*/
.primarycolorbtn {
    background: #e6e6e5!important;
    color: #000 !important;
}

.footerlogoimg {
    width: 15% !important;
}



/*PRELOADER CSS STARTS HERE*/

div#preloader {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    overflow: visible;
    background: #000 url('../images/prismarc/preload.jpg');
    background-size: cover;
}




/*PRELOADER CSS ENDS HERE*/

.header-container.type2 .header-middle .group-social {
    float: right !important;
    margin-right: 15px !important;
}

.forminput {

    height: 45px;
    color: #111;
    letter-spacing: 0.7px;
    margin-right: 20px;
    width: 100%;
    padding-left: 22px;

    border: 1px solid #ccc;
}

.width100 {
    width: 100% !important;
}

.contactaddr {
    width: 100%;
    height: 68px;
    border: 1px solid #cccccc;
    resize: none;
}

.registerform {
    background: #eaeeef !important;
    padding: 25px 45px !important;
    box-shadow: 1px 4px 18px 2px rgba(66, 66, 66, 0.39);
}

.formbgimg {
    background-image: url('../images/prismarc/formbgimg.jpg');
    background-size: cover;
    background-position: center;
}

.formhr {
    border-top: 1px solid rgba(158, 158, 158, 0.50);
}

.floatright {
    float: right !important;
}

.mb0 {
    margin-bottom: 0px !important;
}

.pb0 {
    padding-bottom: 0px !important;
}

.main-landing .product-01 .about-text {
    background-color: rgb(251, 241, 239) !important;
    border: 1px solid #f8f3ef !important;
}

.mt0 {
    margin-top: 0px !important;
}

.lightbg {
    background: #F8F8FD;
}

.whitebg {
    background: #fff;
}

a.font12.enquirynow-btn {
    display: none !important;
}

#jewellerieslist .product-gird .grid-product-content .item .product-content p {
    display: none !important;
}

.filter-product {
    /*display: none !important;*/
}

.pl35 {
    padding-left: 35px !important;
}

.tab-content .tab-pane p {
    margin: 12px 0 !important;
}

.mr70 {
    margin-right: 70px !important;
}

.mt10 {
    margin-top: 10px !important;
}

.mr48 {
    margin-right: 48px !important;
}
.filter-title{
    font-weight: 900 !important;
}
.pr0{
    padding-right: 0px !important;
}
.pl0{
    padding-left: 0px !important;
}
.pt7{
    padding-top: 7px !important;
}
.mt-40{
    margin-top: -40px !important;
}
.heightauto{
    height: auto !important;
}
.currencysection{
        padding: 4px 11px;
    border: 2px solid #a2a9af;
    border-radius: 0px;
    color: #a2a9af;
        font-weight: 600;
    font-size: 18px;
        margin-bottom: -20px;
        cursor: pointer;
}
ul.priceul{
        float: right;
    margin-right: 20px;
}
.classoneimg.active {
    background: #a2a9af !important;
    color: #fff !important;
    cursor: pointer;
}
.classtwoimg.active {
    background: #a2a9af !important;
    color: #fff !important;
    cursor: pointer;
}
.classthreeimg.active {
    background: #a2a9af !important;
    color: #fff !important;
    cursor: pointer;
}
.kanallar-1:hover{
    background-color: red !important;
}
/*JEWELLERY SECTION CSS STARTS HERE*/
.jewellerybox {
  position: relative;
  width: 50%;
}

.jewelleryimage {
  display: block;
  width: 100%;
  height: auto;
}

.overlaysection {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.jewellerybox:hover .overlaysection {
  opacity: 1;
}

.jewelleryname {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
/*JEWELLERY SECTION CSS ENDS HERE*/
.contactdetailscolor{
    color: #e6e6e5 !important;
}
.registerform span.primarycolor{
    color: red !important;
}

.classfourimg.active {
    background: #a2a9af !important;
    color: #fff !important;
    cursor: pointer;
}
.licurrent{
  background: #000;
  border-radius: 20px;
}
.licurrent span{
  color: #fff !important;
}
