	/*
  	Flaticon icon font: Flaticon
  	Creation date: 03/08/2016 05:14
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticond41d.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.html") format("truetype"),
       url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-style: normal;
}



.flaticon-24-hours:before { content: "\f100"; }
.flaticon-back:before { content: "\f101"; }
.flaticon-back-1:before { content: "\f102"; }
.flaticon-cancel:before { content: "\f103"; }
.flaticon-commerce:before { content: "\f104"; }
.flaticon-error:before { content: "\f105"; }
.flaticon-facebook-letter-logo:before { content: "\f106"; }
.flaticon-facebook-logo:before { content: "\f107"; }
.flaticon-favorite:before { content: "\f108"; }
.flaticon-google-plus-logo:before { content: "\f109"; }
.flaticon-google-plus-logo-button:before { content: "\f10a"; }
.flaticon-instagram-social-network-logo-of-photo-camera:before { content: "\f10b"; }
.flaticon-list-menu:before { content: "\f10c"; }
.flaticon-next:before { content: "\f10d"; }
.flaticon-next-1:before { content: "\f10e"; }
.flaticon-pinterest:before { content: "\f10f"; }
.flaticon-search:before { content: "\f110"; }
.flaticon-shield:before { content: "\f111"; }
.flaticon-social:before { content: "\f112"; }
.flaticon-social-1:before { content: "\f113"; }
.flaticon-transport:before { content: "\f114"; }
.flaticon-twitter:before { content: "\f115"; }
.flaticon-twitter-logo-silhouette:before { content: "\f116"; }
.flaticon-youtube-logo:before { content: "\f117"; }
