
/*! #######################################################################

	MeanMenu 2.0.7
	--------

	To be used with jquery.meanmenu.js by Chris Wharton (http://www.meanthemes.com/plugins/meanmenu/)

####################################################################### */
.mobile-menu {
    position: static;
}
/* hide the link until viewport size is reached */
a.meanmenu-reveal {
    display: none;
}

/* when under viewport size, .mean-container is added to body */
.mean-container .mean-bar {
    float: left;
    width: 100%;
    position: static;
    padding: 4px 0;
    z-index: 99;
}

.header nav ul li:hover ul {
    display: block;
}

.mean-container a.meanmenu-reveal {
    width: 22px;
    height: 22px;
    padding: 13px 13px 11px 13px;
    position: relative;
    cursor: pointer;
    color: #363636;
    text-decoration: none;
    font-size: 16px;
    text-indent: -9999em;
    line-height: 22px;
    font-size: 1px;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

    .mean-container a.meanmenu-reveal span {
        display: block;
        background: #363636;
        height: 3px;
        margin-top: 3px;
    }

.mean-container .mean-nav {
    background: #f8f8f8 none repeat scroll 0 0;
    float: left;
    margin-top: 6px;
    position: absolute;
    width: 90%;
    z-index: 9999;
}

    .mean-container .mean-nav ul {
        padding: 0;
        margin: 0;
        width: 100%;
        list-style-type: none;
    }

        .mean-container .mean-nav ul li {
            position: relative;
            float: left;
            width: 100%;
        }

            .mean-container .mean-nav ul li a {
                display: block;
                float: left;
                width: 90%;
                padding: 1em 5%;
                margin: 0;
                text-align: left;
                border-top: 1px solid #ddd;
                text-decoration: none;
                text-transform: uppercase;
            }

            .mean-container .mean-nav ul li li a {
                width: 80%;
                padding: 1em 10%;
                opacity: 0.75;
                filter: alpha(opacity=75);
                text-shadow: none !important;
                visibility: visible;
                text-transform: capitalize;
            }

            .mean-container .mean-nav ul li.mean-last a {
                border-bottom: none;
                margin-bottom: 0;
            }

            .mean-container .mean-nav ul li li li a {
                width: 70%;
                padding: 1em 15%;
            }

            .mean-container .mean-nav ul li li li li a {
                width: 60%;
                padding: 1em 20%;
            }

            .mean-container .mean-nav ul li li li li li a {
                width: 50%;
                padding: 1em 25%;
            }

        .mean-container .mean-nav ul li {
            padding-left: 0px;
            padding-right: 0px;
        }

            .mean-container .mean-nav ul li a.mean-expand {
                margin-top: 1px;
                width: 26px;
                height: 22px;
                padding: 12px !important;
                text-align: center;
                position: absolute;
                right: 0;
                top: 0;
                z-index: 2;
                font-weight: 700;
                background: rgba(255,255,255,0.1);
                border: none !important;
                border-left: 1px solid #ddd !important;
            }

                .mean-container .mean-nav ul li a.mean-expand:hover {
                    background: #ccc;
                }

.mean-container .mean-push {
    float: left;
    width: 100%;
    padding: 0;
    margin: 0;
    clear: both;
}

.mean-nav .wrapper {
    width: 100%;
    padding: 0;
    margin: 0;
}

/* Fix for box sizing on Foundation Framework etc. */
.mean-container .mean-bar, .mean-container .mean-bar * {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}


.mean-remove {
    display: none !important;
}
