/*success and error snackbar shows here*/

#snackbarsuccs {
  visibility: hidden;
  min-width: 250px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 100000;
  left: 41%;
  bottom: 30px;
  font-size: 16px;
}

#snackbarsuccs.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* The snackbar failure - position it at the bottom and in the middle of the screen */

#snackbarerror {
  visibility: hidden;
  min-width: 250px;
  background-color: #000;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 100000;
  left: 41%;
  bottom: 30px;
  font-size: 16px;
}

#snackbarerror.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

.btnldr {
  font-size: 1.6em !important;
  margin-top: -5px;
}

.cptr {
  cursor: pointer;
}

.iserr {
  border: 2px solid #000 !important;
}

.uppercase {
  text-transform: uppercase !important;
}

.nodata_tb {
  text-align: center !important;
  font-size: 18px;
  color: red;
  margin-top: 20px;
}

.restapproved {
  color: green;
  font-weight: 600;
}

.restdisapproved {
  color: red;
  font-weight: 600;
}

.colorbackground {
  background-color: #ddd !important;
}

.appendimg {
  width: 100% !important;
  height: 77px !important;
}

.h150 {
  height: 150px !important;
}

.filename {
  font-size: 9px;
  font-weight: 600;
}

.notificationdesc {
  height: 70px !important;
  overflow-y: scroll !important;
}

.sampleimgincustomorders {
  width: 25% !important;
  height: 10% !important;
  text-align: center;
}

.classdisable {
  background: #1b1b1b !important;
}

.fa-spin {
  font-size: 14px;
}

.wishtrue {
  color: red;
}

.sparkle {
  background-image: url('sparkle.gif');
  background-size: 15px 21px;
  background-repeat: no-repeat;
}

/*STAR RATING CSS STARTS HERE*/

/* RATING - Form - Group */

.rating-form .form-group {
  position: relative;
  border: 0;
}

/* RATING - Form - Legend */

.rating-form .form-legend {
  display: none;
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-size: 2rem;
  /*background: green;*/
}

/* RATING - Form - Item */

.rating-form .form-item {
  position: relative;
  margin: auto;
  /*width: 300px;*/
  text-align: center;
  direction: rtl;
  /*background: green;*/
}

.rating-form .form-legend+.form-item {
  /*padding-top: 10px;*/
}

.rating-form input[type='radio'] {
  position: absolute;
  left: -9999px;
}

/* RATING - Form - Label */

.rating-form label {
  display: inline-block;
  cursor: pointer;
}

.rating-form .rating-star {
  display: inline-block;
  position: relative;
}

.rating-form input[type='radio']+label:before {
  content: attr(data-value);
  position: absolute;
  right: 30px;
  top: 43px;
  font-size: 30px;
  font-size: 3rem;
  opacity: 0;
  direction: ltr;
  -webkit-transition: all 0s ease 0s;
  -moz-transition: all 0s ease 0s;
  -o-transition: all 0s ease 0s;
  transition: all 0s ease 0s;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.rating-form input[type='radio']:checked+label:before {
  right: 25px;
  opacity: 1;
}

.rating-form input[type='radio']+label:after {
  content: "/ 5";
  position: absolute;
  right: 5px;
  top: 56px;
  font-size: 16px;
  font-size: 1.6rem;
  opacity: 0;
  direction: ltr;
  -webkit-transition: all 0s ease 0s;
  -moz-transition: all 0s ease 0s;
  -o-transition: all 0s ease 0s;
  transition: all 0s ease 0s;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.rating-form input[type='radio']:checked+label:after {
  /*right: 5px;*/
  opacity: 1;
}

.rating-form label .fa {
  font-size: 60px;
  font-size: 3rem;
  line-height: 60px;
  -webkit-transition: all 0s ease 0s;
  -moz-transition: all 0s ease 0s;
  -o-transition: all 0s ease 0s;
  transition: all 0s ease 0s;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.rating-form label:hover .fa-star-o, .rating-form label:focus .fa-star-o, .rating-form label:hover~label .fa-star-o, .rating-form label:focus~label .fa-star-o, .rating-form input[type='radio']:checked~label .fa-star-o {
  opacity: 0;
}

.rating-form label .fa-star {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.rating-form label:hover .fa-star, .rating-form label:focus .fa-star, .rating-form label:hover~label .fa-star, .rating-form label:focus~label .fa-star, .rating-form input[type='radio']:checked~label .fa-star {
  opacity: 1;
}

.rating-form input[type='radio']:checked~label .fa-star {
  color: gold;
}

.rating-form .ir {
  position: absolute;
  left: -9999px;
}

/* RATING - Form - Action */

.rating-form .form-action {
  opacity: 0;
  position: absolute;
  left: 5px;
  bottom: -40px;
  -webkit-transition: all 0s ease 0s;
  -moz-transition: all 0s ease 0s;
  -o-transition: all 0s ease 0s;
  transition: all 0s ease 0s;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.rating-form input[type='radio']:checked~.form-action {
  cursor: pointer;
  opacity: 1;
}

.rating-form .btn-reset {
  display: inline-block;
  margin: 0;
  padding: 4px 10px;
  border: 0;
  font-size: 10px;
  font-size: 1rem;
  background: #fff;
  color: #333;
  cursor: auto;
  border-radius: 5px;
  outline: 0;
  -webkit-transition: all 0s ease 0s;
  -moz-transition: all 0s ease 0s;
  -o-transition: all 0s ease 0s;
  transition: all 0s ease 0s;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.rating-form .btn-reset:hover, .rating-form .btn-reset:focus {
  background: gold;
}

.rating-form input[type='radio']:checked~.form-action .btn-reset {
  cursor: pointer;
}

/* RATING - Form - Output */

.rating-form .form-output {
  display: none;
  position: absolute;
  right: 15px;
  bottom: -45px;
  font-size: 30px;
  font-size: 3rem;
  opacity: 0;
  -webkit-transition: all 0s ease 0s;
  -moz-transition: all 0s ease 0s;
  -o-transition: all 0s ease 0s;
  transition: all 0s ease 0s;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.no-js .rating-form .form-output {
  right: 5px;
  opacity: 1;
}

.rating-form input[type='radio']:checked~.form-output {
  right: 5px;
  opacity: 1;
}

.reviewsubmitbtn {
  margin-top: 40px !important;
}

.page-item.active {
    color: #ffffff;
    background-color: #fff;
    border: 1px solid #fff;
    float: left;
}
.page-item.active a{
  background-color: black !important;
}

/*STAR RATING CSS ENDS HERE*/

.eqbtn {
    background: #000000;
    font-size: 12px;
    width: 100%;
    padding: 8px 0px;
    margin-top: 10px;
    color: #fff;
}
.eqbtn:hover{
  color: #fff !important;
}
.eqbtn:focus{
  color: #fff !important;
}
button.buynow-btn {
    text-transform: none;
}
.sendbtn:focus{
  color: #fff !important;
}